.cart {
  background-color: #fff;
  border-radius: 12px;
  max-width: 350px;
  position: sticky;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mainCart {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 12px;
}

.titleContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-color: #028643;
  border-radius: 12px 12px 0px 0px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
}

.totalLabel {
  font-size: 16px;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-bottom: 2px solid #ddd;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-right: 10px;
}

.quantity {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  background-color: var(--app-orange);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 30px;
}

.name {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.extra {
  font-size: 0.8rem;
  color: #999;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: #028643;
}

.delete {
  font-size: 12px;
  color: #ff5f5f;
  cursor: pointer;
}

.summary {
  padding-top: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.row {
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  padding: 0px 20px 0px 20px;
}

.amounts {
  font-weight: normal;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: bold;
  margin: 10px;
  background-color: #FC8A06CC;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  align-items: center;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.shareContatiner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #FC8A06;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 12px;
}

.shareContatiner p {
  font-family: Poppins;
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: wrap;
}

.shareCart {
  color:  #FC8A06;
  font-size: 12px;
  padding: 8px;
  border-radius: 100px;
  cursor: pointer;
  background-color: white;
  border: none;
  width: 100px;
  font-weight: 600;
}

.shareIcon {
  font-size: 4rem;
  color: white;
}

.freeItem {
  background-color: transparent;
  color: #333;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 100px;
  font-size: 0.9rem;
  cursor: pointer;
  margin: 0px 10px;
}

.couponInput {
  display: flex;
  gap: 5px;
}

.couponInput input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.couponInput button {
  background-color: #24b324;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.deliveryOptions {
  display: flex;
  gap: 10px;
  border-top: 1px solid #ddd;
  padding: 10px;
  margin-top: 20px;
  justify-content: space-evenly;
}

.actionCard {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  border-radius: 12px;
  align-items: center;
  padding: 10px 20px;
}

.actionCard p {
  margin: 0;
}

.actionCard h3 {
  margin: 0;
}

.checkout {
  display: flex;
  flex-direction: row;
  background-color: #24b324;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  margin: 5px;
}

.checkout span {
  font-size: 24px;
}

.checkoutDisabled {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  justify-content: flex-start;
  gap: 40px;
  align-items: center;
  margin: 5px;
  background-color: #FFB1B1;
  cursor: not-allowed;
}

.icons {
  width: 30px;
  height: 30px;
}

.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  width: 150px;
  top: 150%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: wrap;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}

.checkoutDisabled:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
