.container {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 12px;
}

.container div {
    text-align: center;
    font-size: 14px;
    line-height: 10px;
}

.container p {
    text-align: center;
    font-size: 12px;
    line-height: 10px;
    color: gray;
}